__pycache__/*.pyc
__pycache__/plot_settings.cpython-312.pyc
nn_model/__pycache__/nn_model_lib.cpython-312.pyc
__pycache__/plot_settings.cpython-312.pyc
data_pybamm/__pycache__/exp_pybamm_ver4.cpython-312.pyc
.gitignore
nn_model/__pycache__/fix_ecm.cpython-312.pyc
nn_model/__pycache__/nn_model_lib.cpython-312.pyc
nn_model/__pycache__/Ue_GP_comsol.cpython-312.pyc
nn_model/__pycache__/Ue_GP_pybamm.cpython-312.pyc
data_pybamm/__pycache__/*.pyc
GP_regr/__pycache__/*.pyc